<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleHome.css">
    <script src="/static/js/appHome.js"></script>
    <title>Document</title>
</head>    
<body>
    <h1> Web Application </h1> 
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdI5h6LZxis-xvMA-mioIFBUdBqrofceIn1A&s" /> <br> <br>
        <button onclick="regiter_view()"> Register </button>
        <button onclick="consult_view()"> Consult </button>
    </div>    
</body>
</html>