<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleRegister.css">
    <script src="/static/js/appRegister.js"></script>
    <title>Document</title>
</head>
<body>
    <h1> Register Users </h1>   
    <form>
        <label> Identification </label> <input> <br/> <br/>
        <label> Name </label> <input> <br/> <br/>
        <label> Lastname </label> <input> <br/> <br/>
        <label> Bithday </label> <input> <br/> <br/>
        <button onclick="register_user()"> Register </button>
    </form>
</body>
</html>